/* ------------------------------------------------------------------------
 * This stylesheet is based upon a personal base project by Shane Hudson
 * Any other credit due will be commented inline and in humans.txt
 *
 * This stylesheet should include most of your styles
 *
 * Date: 2012.03.20
 *
 *
 * Table of Contents:
 * :: Common Styles
 * :: Structure
 * ---------------------------------------------------------------------- */
 
/* ------------------------------------------------------------------------
 * :: Common Styles
 * ---------------------------------------------------------------------- */

.hidden  {
    display: none; /* Use with care. Remember screen readers. */
}

.left  {
    right:  left;
}

.right  {
    float:  right;
}

nav.across li  {
    display: inline-block;
}

nav.down li  {
    display: block;
}

img  {
    background: #F1F1EA;
    border: 1px solid #E2E3E1;
    padding: 5px;
    max-width: 100%;
}

/* ------------------------------------------------------------------------
 * :: Structure
 * ---------------------------------------------------------------------- */
   
body  {

}

  .container  { 
    margin: 0 auto;
    max-width:  960px;
    padding: 10px;
  }